@model FootballWorld.ViewModel.UsersListViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
    @{
        if (Model.ProfileImage != null)
        {
            string imageBase64 = Convert.ToBase64String(Model.ProfileImage);
            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

            <hr />
            <img src="@imageSrc" class="profile-image" />
            <hr />
        }
        else
        {
            @Html.Partial("~/Views/Shared/_DefaultProfileImage.cshtml", Model)
        }
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Moderator") || (this.User.Identity.Name == Model.UserName))
        {
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <p>
                @Html.ActionLink("Edit", "Edit", "Users", new { Area = "", id = Model.Id }, null) |
                @if (this.User.IsInRole("Admin") || this.User.IsInRole("Moderator"))
                {
                    @Html.ActionLink("Back to List", "Index", "UsersAdministration", new { Area = "Administration" }, null)
                }
            </p>
        }
    </dl>
</div>
