@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Roles Listing</h2>

@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Roles", "ManageUserRoles")
<hr />

@Html.Partial("~/Areas/Administration/Views/Shared/_ResultMessage.cshtml")

<div>
    @foreach (var role in Model)
    {
        <p><strong>@role.Name | </strong>
            <span onclick="return confirm('Are you sure you want to delete the role?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink">Delete</a></span> | 
            @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })
        </p>
    }
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#alert-success').fadeOut(4000);
        });
    </script>
}